* {
  background-color: #202020;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
QWidget#chat-widget {
  background-color: rgb(255, 255, 0);
}
QWidget#sidebar {
  background-color: rgb(88, 161, 120);
}
QWidget#chat-area {
  background-color: rgb(88, 95, 161);
}
QWidget#response-widget {
  background-color: rgb(139, 88, 161);
}
QWidget#input-widget {
  background-color: rgb(88, 161, 158);
}
QPushButton #chat-button {
  background-color: rgb(88, 161, 120);
  text-align: left;
}
